*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  color: #222;
  background: #f4f4f4;

  display: flex;
  justify-content: center;
}

a {
  color: #222;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  list-style: none;
}

input {
  padding: 1rem;
  border-radius: .5rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
  border: 1px solid #dddddd;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    background: #80808025;
    color: #222;
  }
}

*:focus {
  outline: none;
}


//// APP STYLES ////
.app-header {
  text-align: center;
  font-size: 4rem;
  margin-top: 8rem;
  font-weight: 200;
  margin-bottom: 5rem;
}

.interactions {
  text-align: center;
}

.table-header {
  font-size: 1.5rem;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.table-empty {
  margin: 20rem;
  text-align: center;
  font-size: 1.6rem;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 1rem 0;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-header>span {
  overflow: hidden;
  padding: 0 1rem;
}

.table-row>span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1rem;
}

.button-inline {
  position: relative;
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    height: 1.5px;
    width: 0%;
    background-color: transparent;
    transition: .5s;
  }

  &:hover::after {
    width: 100%;
    background-color: #38BB6C;
  }

  &:hover {
    background: transparent;
  }
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid rgb(59, 201, 206);
}